[submodule "assurance-front"]
	path = assurance-front
	url = https://github.com/FormationDev2023/insurance-front.git
	branch = main
[submodule "ins-client-service"]
	path = ins-client-service
	url = https://github.com/FormationDev2023/client-insurance-api.git
	branch = main
[submodule "ins-policy-service"]
	path = ins-policy-service
	url = https://github.com/FormationDev2023/contract-insurance-api.git
	branch = main
[submodule "ins-claim-service"]
	path = ins-claim-service
	url = https://github.com/FormationDev2023/incident-insurance-api.git
	branch = main